.container{
    display: flex;
    position: relative;
    padding: 0rem;
    margin: 4rem;
    flex-direction: row;
}
.videoArea{
    margin-right: 1rem;
}
.facebook{
    padding: 1rem;
    background: url('../../../../assets/images/facebook.png') no-repeat center center;
}
.instagram{
    padding: 1rem;
    background: url('../../../../assets/images/instagram.png') no-repeat center center;
}

.youtube{
    padding: 1rem;
    background: url('../../../../assets/images/youtube.png') no-repeat center center;
}

.twitter{
    padding: 1rem;
    background: url('../../../../assets/images/twitter.png') no-repeat center center;
}

.imageArea{
    margin-top: 7rem;
}