<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
<div class="container">
    <div class="videoArea">
        <iframe width="560" height="500" src="https://www.youtube.com/embed/gzrLsW0mhQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="descriptionArea">
        <h6>Welcome to Travel</h6>
        <h3><b>The Best Travel</b></h3>
        <h3 style="margin-top: 0rem;"><b>Agency</b></h3>
        <p>
            The origin of the word "travel" is most likely lost to history. The term "travel" may originate from the Old French word travail, which means 'work'.[3] According to the Merriam Webster dictionary, the first known use of the word travel was in the 14th century. It also states that the word comes from Middle English travailen, travelen (which means to torment, labor, strive, journey) and earlier from Old French travailler (which means to work strenuously, toil). In English we still occasionally use the words "travail", which means struggle. According to Simon Winchester in his book The Best Travelers' Tales (2004), 
        </p>
        <p>
            the words "travel" and "travail" both share an even more ancient root: a Roman instrument of torture called the tripalium (in Latin it means "three stakes", as in to impale). This link may reflect the extreme difficulty of travel in ancient times. Travel in modern times may
        </p>
        <div class="imageArea">
            <label class="facebook"></label>
            <label class="instagram"></label>
            <label class="youtube"></label>
            <label class="twitter"></label>
        </div>
    </div>
</div>



</section>
