<section id="service-section" class="service-section home-section" [ngClass]="{'light-gray': backgroundGray}" style="margin-bottom: 10rem;">
<div class="setionHeader">
  <h3><strong>Popular History</strong></h3>
  <p>Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.
  </p>
  <p style="padding-bottom: 0rem;">
    Eleksdklfsdkfks mksdpg wsxedcrfvtgthmb oyhmbgl Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.
  </p>
  
</div>


  <div class="container">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
        <div fxFlex="33.33">
          <mat-card class="p-0 m-0 matcard">
            <img mat-card-image src="assets/images/usa.jpg">
            <mat-card-content>
              <h5><strong><a href="">United States</a></strong></h5>
              <div class="money"><strong>{{ money | currency:'USD':'symbol' }}</strong></div>
              <div class="ratingArea">
                <ngb-rating [(rate)]="currentRate" [max]="nrate">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>
                <pre class="reviews">| Reviews: <b>{{currentRate}}</b></pre>
              </div>
              <p>
                Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.
              </p>
              
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33.33">
          <mat-card class="p-0 m-0 matcard">
            <img mat-card-image src="assets/images/italy.jpg">
            <mat-card-content>
              <h5><strong><a href="">Italy</a></strong></h5>
              <div class="money"><strong>{{ money | currency:'USD':'symbol' }}</strong></div>
              <div class="ratingArea">
                <ngb-rating [(rate)]="currentRate" [max]="nrate">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>
                <pre class="reviews">| Reviews: <b>{{currentRate}}</b></pre>
              </div>
              <p>
                Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33.33">
          <mat-card class="p-0 m-0 matcard">
            <img mat-card-image src="assets/images/brazil.jpg">
            <mat-card-content>
              <h5><strong><a href="">Brazil</a></strong></h5>
              <div class="money"><strong>{{ money | currency:'USD':'symbol' }}</strong></div>
              <div class="ratingArea">
                <ngb-rating [(rate)]="currentRate" [max]="nrate">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>
                <pre class="reviews">| Reviews: <b>{{currentRate}}</b></pre>
              </div>
              <p>
                Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="cardset2">
        <div fxFlex="33.33">
          <mat-card class="p-0 m-0 matcard">
            <img mat-card-image src="assets/images/maldives.jpg">
            <mat-card-content>
              <h5><strong><a href="">Maldives</a></strong></h5>
              <div class="money"><strong>{{ money | currency:'USD':'symbol' }}</strong></div>
              <div class="ratingArea">
                <ngb-rating [(rate)]="currentRate" [max]="nrate">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>
                <pre class="reviews">| Reviews: <b>{{currentRate}}</b></pre>
              </div>
              <p>
                Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33.33">
          <mat-card class="p-0 m-0 matcard">
            <img mat-card-image src="assets/images/romania.jpg">
            <mat-card-content>
              <h5><strong><a href="">Romania</a></strong></h5>
              <div class="money"><strong>{{ money | currency:'USD':'symbol' }}</strong></div>
              <div class="ratingArea">
                <ngb-rating [(rate)]="currentRate" [max]="nrate">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>
                <pre class="reviews">| Reviews: <b>{{currentRate}}</b></pre>
              </div>
              <p>
                Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33.33">
          <mat-card class="p-0 m-0 matcard">
            <img mat-card-image src="assets/images/indonisia.jpg">
            <mat-card-content>
              <h5><strong><a href="">Indonisia</a></strong></h5>
              <div class="money"><strong>{{ money | currency:'USD':'symbol' }}</strong></div>
              <div class="ratingArea">
                <ngb-rating [(rate)]="currentRate" [max]="nrate">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>
                <pre class="reviews">| Reviews: <b>{{currentRate}}</b></pre>
              </div>
              <p>
                Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        
      </div>

</div>
<div class="btnmore">
  <button style="background: orange;" mat-raised-button mat-lg-button color="accent">MORE PLACES</button>
</div>

</section>