.container{
    
    padding: 0rem;
    margin: 0rem;
    display: flex;
    position: relative;
    height: 600px;
  flex-wrap: wrap;
  align-content: space-between;
    flex-direction: row;
}
.container > div {
    margin-left: 3rem;
}
.cardset2{
    margin-top: 2rem;
}

.setionHeader{
    text-align: center;
}
.money{
    float: right;
    margin-top: -2rem;
    color: orange;
    font-size: 1rem;
    
}
.reviews{
    float: right;
    margin-top: 0.5rem;
    margin-right: 7rem;
    margin-bottom: -1rem;
}
.matcard{
    height: 30rem;
    width: 22rem;
}
.btnmore{
    margin-left: 34rem;
    margin-top: 28rem;
}
