<header id="home-header" [ngClass]="{'header-fixed': isFixed}">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="header-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
      <!-- <div class="home-logo mr-1">
          <a href="/"><img src="assets/images/logo-full.png" alt="Egret logo"></a>
      </div> -->
      <button mat-icon-button id="menu-toggle" (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
    </div>
    
    <div fxFlex class="top-menu">
      <button mat-button id="dashboard-topbtn" class="hometop-btn" ><strong>HOME</strong></button>
      <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="portfolio-section"><strong>FLIGHTS</strong></button>
      <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="service-section"><strong>DESTINATIONS</strong></button>
      <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="testimonials-section"><strong>HOLIDAYS</strong></button>
      <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="pricings-section"><strong>PROMOTIONS</strong></button>
      
      <span fxFlex></span>
     
    </div>
  </div>
</header>