.headerName{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color:rgb(17, 50, 168);
   // float: left;
    border: 1px solid white;
    border-style: hidden;
    border-radius: 5px;
    padding: 1rem;
    width:100%;
    
}
.name{
    margin: 1rem;
    text-align: left;
}

.headerName > div {
    
    margin: 1rem;
}


.container{
    display: flex;
    position: relative;
    padding: 0rem;
    margin-bottom: 1rem;
    flex-direction: row;
}

.btnHome{
    margin-right: 1rem;
}
.departure{
    margin-left: 1rem;
}
.return{
    margin-right: 1rem;
    margin-left: 1rem;  
}
.btnUser{
    margin-left: 1rem;
    margin-right: 1rem;
}
.btnSearch{
    margin-left: 2rem;
}

