<div class=headerName>
    <p class="name">FIND YOUR HOLIDAY</p>
    <div class="container">
         
      <div class=btnHome>
        <button mat-fab color="primary" [disabled]="!contactForm.valid"><mat-icon>home</mat-icon></button>
      </div>
                     
            <div class="destination">
                <mat-form-field>
                    <mat-label>Destinations</mat-label>
                    <select matNativeControl required>
                      <option value="volvo">Sri Lanka</option>
                      <option value="saab">Australia</option>
                      <option value="mercedes">USA</option>
                      <option value="audi">CANADA</option>
                    </select>
                  </mat-form-field>
            </div>
            
            <div class="departure">
                <mat-form-field>
                    <mat-label>Departure</mat-label>
                    <input matInput [matDatepicker]="dp" [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                  </mat-form-field>
    
            </div>
    
            <div class="return">
                <mat-form-field class="example-full-width">
                    <mat-label>Return</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="noFGuests">
                <mat-form-field>
                    <mat-label>Guests</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let guest of guests" [value]="guest.value">
                        {{guest.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class=btnUser>
                <button mat-fab color="primary" [disabled]="!contactForm.valid"><mat-icon>account_circle</mat-icon></button>
            </div>
              
            <div class="btnSearch">
              <button mat-raised-button color="warn">Search</button> 
            </div>
        </div>
        
       
     
    
</div>
