<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
    <h3 style="text-align: center; margin-bottom: 1rem;"><strong>Recent Stories</strong></h3>
<div class="mainContainer">
    <div class="imgArea">
        <div *ngFor="let image of images">
            <img [src]="image.img" style="width: 300px; height: 300px;" />
            <p>{{image.date}}</p>
            <p>{{image.desc}}</p>
        </div>
        
    </div>
   
</div>

<div class="subscribeArea">
    <h3 style="margin-top:1rem;text-align: center; margin-bottom: 1rem;"><strong>Subscribe to our newsletter</strong></h3>
    <p  style="text-align: center; margin-bottom: 1rem;">Loren ipsum dolor sit amernt, consecturer adplicing dolor ait amet elit.</p>

    <!-- <label class="sr-only" for="inlineFormInputGroupUsername2MD">Username</label> -->
    <div style="margin-left: 30rem; margin-right: 30rem;"> 
        <div class="md-form input-group mb-3 ">
            <input mdbInput type="text" class="form-control pl-0 rounded-1"  id="inlineFormInputGroupUsername2MD" placeholder="Enter E-mail Address">
            <div class="input-group-prepend">
              <span class="input-group-text md-addon btnsubs">Subscribe</span>
            </div>
          </div>
    </div>
    

</div>


</section>
