.mainContainer > div{
    display: flex;
    flex-direction: row;
    position: relative;
}
img {
    border-radius: 8px;
    margin-right: 3rem;
    margin-bottom: 1rem;
  }

.imgArea{
  margin-left: 10%;
  margin-right: 10%;

}


