.home-intro-section {
  background: url('../../../../assets/images/home1.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 180px 0 0;
  color: #ffffff;
  overflow: visible;
}

.search{
  margin-bottom: 1rem;
}
.home-intro-title {
  margin: 0 0 24px;
  font-size: 48px;
  font-weight: 900;
  line-height: 54px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
  text-align: left;
}
.home-intro-subtitle {
  margin: 0 0 22px;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.home-intro-text {
  max-width: 570px;
  margin: 0 auto 24px;
}
.intro-cta {
  max-width: 180px;
  margin:  0 auto;
}
.intro-product {
  position: relative;
  top: auto;
  left: auto;
  bottom: -102px; // Adjust this for your product image
}

@media (max-width: 767px) {
  .home-intro-section {
    padding: 100px 0 0;
  }
  .home-intro-title {
    margin: 0 0 24px;
    font-size: 36px;
    font-weight: 900;
    line-height: 38px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
  }
  .home-intro-subtitle {
    margin: 0 0 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }
  .intro-product {
    bottom: -63px; // Adjust this for your product image
    img {
      width: 480px;
    }
  }
}
@media (max-width: 580px) {
  .intro-product {
    bottom: -39px; // Adjust this for your product image
    img {
      width: 280px;
    }
  }
}