<section id="intro-section" class="home-intro-section text-center">
  <div class="container" fxLayout="column" fxLayoutWrap="nowrap">
    
    <h1 class="home-intro-title">Discover <br>a New Place</h1>
    <div class="home-intro-subtitle">
      Travel to any corner of the world, without going <br>
      around in circles.
    </div>
    <div class="search">
      <app-search></app-search>
      
    </div>
  </div>
</section>