<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
<div class="container">
    <div class="header">
        <h2><b>Popular Destinations</b></h2>

        <p style="margin-bottom: 0rem;">  According to the Merriam Webster dictionary, the first known use of the word travel was in the 14th century</p>
        <p>  According to Simon Winchester in his book The Best Travelers' Tales (2004),</p>
    </div>
   
    <div class="imageArea">
        <ngu-carousel
        [inputs]="carouselOptions" [dataSource]="services">
          <ngu-item NguCarouselItem *nguCarouselDef="let s; let j = index">
              <mat-card class="p-0 m-0" style="padding:10rem;">
                  <div fxLayout="column">
                    <img mat-card-image src="{{s.icon}}">
                   
                  </div>
                </mat-card>
          </ngu-item>
          
          <button mat-fab NguCarouselPrev class='carousel-left'><mat-icon>keyboard_arrow_left</mat-icon></button>
          <button mat-fab NguCarouselNext class='carousel-right'><mat-icon>keyboard_arrow_right</mat-icon></button>
      </ngu-carousel>
          
    </div>
</div>
</section>
