.container{
    position: relative;
    display: flex;
    flex-direction:column;
    padding: 0rem;
    margin: 0rem;
    text-align: center;
}
.imageArea{
    margin-left: 4rem;
}
.item { 
    .mat-card {
      margin: 0 16px;
    }
  }