<section id="portfolio-section" class="sec" [ngClass]="{'light-gray': backgroundGray}">
 
        <ngb-carousel *ngIf="users" class="mainContainer" >
            <ng-template ngbSlide *ngFor="let user of users">
                <div class="dpArea">
                        <div class="picsum-img-wrapper">
                        <img [src]="user.image" alt="{{user.name}}">
                        </div>
                        <div class="desc">
                             <p>{{user.desc}}</p>   
                        </div>
                        <div class="ratingArea">
                            <ngb-rating [(rate)]="user.rate" [max]="nrate">
                              <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100">&#9733;</span>
                              </ng-template>
                            </ngb-rating>
                            <h5 style="margin-left: 0.8rem;">{{user.name}}</h5>
                          </div>
                        <div class="carousel-caption"> </div>
            
                    
                </div>
            </ng-template>
        </ngb-carousel>
         
</section>
