.mainContainer {
   
    margin-top: 10rem;
    width: 80%;
    height: 20%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: peachpuff;
}
img{
    margin-top: 1rem;
    border-radius: 80%;
    width: 10%;
    height: 10%;
    margin-left: 28rem;
}
.desc{
    text-align: center;
    margin-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.ratingArea{
    margin-left: 28rem;
}

.sec{
    margin-bottom: 10rem;
}
