.home-footer-top {
  margin-top: -43rem;
  background-color: #073175;
  color: #ffffff !important;
}
.mat-list-item {
  color: #ffffff !important;
}
.footer-box {
  padding: 30px;
  box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.2);
}
.footer-box:first-child {
  padding-left: 0; 
}
.footer-box-title {
  position: relative;
  margin: 0 0 24px;
  padding-bottom: 12px;
}
.footer-box-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 64px;
  background-color: #ffc107;
}
.footer-box .mat-list {
  padding: 0 !important;
}
.footer-box .mat-list-item-content {
  padding-left: 0 !important;
}
.footer-box .mat-list-text {
  color: #ffffff;
}

.socials ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.socials ul li {
  display: inline-block;
}
.social-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 8px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.social-icon.facebook {
  background: url('../../../../assets/images/social-facebook.png') no-repeat center center;
}
.social-icon.twitter {
  background: url('../../../../assets/images/social-twitter.png') no-repeat center center;
}
.social-icon.linkedin {
  background: url('../../../../assets/images/social-linkedin.png') no-repeat center center;
}
.social-icon.dribble {
  background: url('../../../../assets/images/social-dribble.png') no-repeat center center;
}

@media (max-width: 959px) {
  .footer-box:first-child {
    padding-left: 30px; 
  }
  .footer-box {
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  }
}