
<footer class="home-footer" style="margin-top: 40rem;">
  <section class="home-footer-top">
    <div class="container">
       <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
         <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Travel</b></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Officiis perferendis rem, aut aliquam neque nam? dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit. 
            Officiis perferendis rem, aut aliquam.</p> 
        
        </div>
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Explore more</b></h4>

          <mat-list>
            <mat-list-item>
              <p matLine>Home </p>
           </mat-list-item>

           <mat-list-item>           
            <p matLine> Flight</p>
          </mat-list-item>

            <mat-list-item>           
              <p matLine> Promotions </p>
            </mat-list-item>

            <mat-list-item>           
              <p matLine> Destinations </p>
            </mat-list-item>

            <mat-list-item>           
              <p matLine> Holidays </p>
            </mat-list-item>

            <mat-list-item>           
              <p matLine> About us </p>
            </mat-list-item>
            <mat-list-item>           
              <p matLine> Contacts us </p>
            </mat-list-item>

          </mat-list>
           
        
        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>Get in Touch</b></h4>
         
          <mat-list>
            <mat-list-item>
              <p matLine>1313 ABC, Anaheim, </p>
              <p matLine>San Francisco,California,USA </p>
           </mat-list-item>

           <mat-list-item>           
            <p matLine> +23 511 165 456</p>
          </mat-list-item>

            <mat-list-item>           
              <p matLine> info@360travelme.com </p>
            </mat-list-item> 
            <mat-list-item> 

              <div class="socials pt-1">
                <ul>
                  <li><a href="" class="social-icon linkedin"></a></li>
                  <li><a href="" class="social-icon twitter"></a></li>
                  <li><a href="" class="social-icon facebook"></a></li>
                </ul>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>We Support</b></h4>
        </div>
      </div>
    </div>
  </section>
</footer>